<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category  Shopliebe
 * @package   Shopliebe_PasswordStrength
 * @author    Marcel Mellor <info@shopliebe.de>
 * @copyright 2014 Mellor Schuhmacher GbR
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      http://www.shopliebe.de
 */
-->

<config>  
    <modules>
        <Shopliebe_PasswordStrength>
            <version>0.0.1</version>
        </Shopliebe_PasswordStrength>
    </modules>
    
    <global>
       <models>
          <customer>
              <rewrite>
                  <customer>Shopliebe_PasswordStrength_Model_Customer</customer>
             </rewrite>
          </customer>
       </models>

        <blocks>
            <passwordstrength>
                <class>Shopliebe_PasswordStrength_Block</class>
            </passwordstrength>
        </blocks>

        <helpers>
            <passwordstrength>
              <class>Shopliebe_PasswordStrength_Helper_Helper</class>
            </passwordstrength>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <shopliebe_passwordstrength module="Shopliebe_Passwordstrength">
                    <file>passwordstrength.xml</file>
                </shopliebe_passwordstrength>
            </updates>
        </layout>
        <translate>
            <modules>
                <Shopliebe_PasswordStrength>
                    <files>
                        <default>Shopliebe_PasswordStrength.csv</default>
                    </files>
                </Shopliebe_PasswordStrength>
            </modules>
        </translate>
    </frontend> 

    <adminhtml>
        <translate>
            <modules>
                <Shopliebe_PasswordStrength>
                    <files>
                        <default>Shopliebe_PasswordStrength.csv</default>
                    </files>
                </Shopliebe_PasswordStrength>
            </modules>
        </translate>
    </adminhtml>
</config>